.logo{
	margin-left: 30px;
	font-family: home;
}

@font-face{
		/*standar : namanya bebas*/
		font-family: home;
		src : url('../font/coolvetica rg.ttf');
}
.katagori{
	top: -60px;
}
.proses{
    margin-top: -0px;
 }
